:root {
    --main-h1-color: #5b61d9;
    --main-p-color: #040816;
    --main-bg-color: #C3DFE2;
    --main-bg-gradient-color: radial-gradient(circle, rgba(195, 223, 226, 1) 0%, rgba(253, 252, 251, 1) 100%);
}