.container {
    height: 87vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.con-left h1 {
    font-size: 3.5rem;
    color: #5b61d9;
}

.con-left p {
    color: #040816;
}

.con-left span {
    font-weight: 600;
    color: #6766e0;
}

.con-left {
    margin: 2rem;
}

.con-right img{
    max-width: 100%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-button {
    font-size: 1rem;
    color: #5b61d9;
    border: 1px solid #6766e0;
    border-radius: 7px;
    padding: 1rem;
}